<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/onboarding.css') }}">
    <script defer src="{{ url_for('static', filename='js/interactivity.js') }}"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <header class="navbar">
        <div class="site-name">
            <img src="/static/images/logo.png" alt="Logo">
            FinConnect
        </div>
        <nav>
            <ul>
                <li><a href="banking">Home</a></li>
                <li><a href="onboarding">Explore</a></li>
                <li><a href="home">Sign Out</a></li>
            </ul>
        </nav>
    </header>

    <!-- Title Section -->
    <section class="title-section">
        <h1>MAKE LIFE EASY</h1>
        <div class="hero-image">
            <img src="/static/images/FinConnect.png" alt="Hero">
        </div>
    </section>

    <!-- Content Cards -->
    <section class="content-section">
        <h2>CLICK ONE TO TAKE QUIZ</h2>
        <div class="cards-container">
            <a href="insurance" class="card">
                <!-- <img src="/static/images/insurance.png" alt="Card 1"> -->
                <p>Click above to acess our insurance moudle. It will take you to a short quiz to personalize your recommendations.</p>
            </a>
            <a href="#" class="card">
                <!-- <img src="/static/images/investment.png" alt="Card 2"> -->
                <p>Click above to acess our investments moudle. It will take you to a short quiz to personalize your recommendations.</p>
            </a>
            <a href="#" class="card">
                <!-- <img src="/static/images/loan.png" alt="Card 3"> -->
                <p>Click above to acess our loans moudle. It will take you to a short quiz to personalize your recommendations.</p>
            </a>
        </div>
    </section>
</body>
</html>
